Yo Baby
how to align this in boxes


<div class="row">
  <div class="col-md-8">
  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
  	</div>
  <div class="col-md-4">
  	.col-md-4
  	<p>promotion here like stk promotion here like stk promotion here like stk promotion here like stk promotion here like stk </p>
  	
  	</div>
</div>

<div class="row">
  <div class="col-md-8">
  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
  	</div>
  <div class="col-md-4">
  	.col-md-4
  	<p>promotion here like stk promotion here like stk promotion here like stk promotion here like stk promotion here like stk </p>
  	
  	</div>
</div>

<div class="row">
  <div class="col-md-8">
  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
  	</div>
  <div class="col-md-4">
  	.col-md-4
  	<p>promotion here like stk promotion here like stk promotion here like stk promotion here like stk promotion here like stk </p>
  	
  	</div>
</div>

<div class="row">
  <div class="col-md-8">
  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
  	</div>
  <div class="col-md-4">
  	.col-md-4
  	<p>promotion here like stk promotion here like stk promotion here like stk promotion here like stk promotion here like stk </p>
  	
  	</div>
</div>

<div class="row">
  <div class="col-md-8">
  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>  	
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
	<p>Add a user here Add a user here Add a user here Add a user here Add a user here Add a user here </p>
  	</div>
  <div class="col-md-4">
  	.col-md-4
  	<p>promotion here like stk promotion here like stk promotion here like stk promotion here like stk promotion here like stk </p>
  	
  	</div>
</div>